<h1>Home2#index</h1>
<p>Find me in app/views/home2/index.html.erb</p>


<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>



email:<strong><%= current_user.email %></strong><br>



<%= link_to "最初", :controller => "home", :action => "index" %><br>
